@import '../../styles/variables';

.thisDay {
  padding: 20px;
  max-width: 400px;
  border-radius: 20px;
  background-color: var(#{--components-background-default});
  box-shadow: $box-shadow;
}

.degree {
  color: $color-main;
  font-size: 96px;
  font-weight: 500;
}

.today {
  color: var(#{--text-color-default});
  font-size: 40px;
  font-weight: 400;
}

.top__block {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  svg {
    width: 119px;
    height: 119px;
  }
}

.time {
  margin-top: 30px;
  color: $color-grey;
  font-size: 25px;
  font-weight: 400;
}

.city {
  margin-top: 15px;
  color: $color-grey;
  font-size: 25px;
  font-weight: 400;
}
