@import '../../styles/variables';

.thisDay {
  padding: 20px;
  max-width: 400px;
  border-radius: 20px;
  background-color: var(#{--components-background-default});
  box-shadow: $box-shadow;
}

.degree {
  color: $color-main;
  font-size: 96px;
  font-weight: 500;
}

.today {
  color: var(#{--text-color-default});
  font-size: 40px;
  font-weight: 400;
}

.top__block {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 60px;
  svg {
    width: 119px;
    height: 119px;
  }
}

.time {
  margin-top: 50px;
  color: $color-grey;
  font-size: 22px;
  font-weight: 400;
}

// .icon {
//   width: 100px;
//   height: 100px;
// }

.city {
  color: $color-grey;
  font-size: 22px;
  font-weight: 400;
}

.bottom__block_wrapper {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heart {
  font-size: 26px;
  color: $color-main;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  &:hover {
    transform: scale(1.2);
  }
}

// transition: opacity .2s,visibility .2s,transform .3s ease;
// transform: translateY(-20%);
