@import '../../styles/variables';

.thisDay {
  padding: 20px;
  max-width: 400px;
  border-radius: 20px;
  background-color: var(#{--components-background-default});
  box-shadow: $box-shadow;
}

.degree {
  color: $color-main;
  font-size: 96px;
  font-weight: 500;
}

.today {
  color: var(#{--text-color-default});
  font-size: 40px;
  font-weight: 400;
}

.top__block {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 60px;
  svg {
    width: 119px;
    height: 119px;
  }
}

.time {
  margin-top: 50px;
  color: $color-grey;
  font-size: 22px;
  font-weight: 400;
}

// .icon {
//   width: 100px;
//   height: 100px;
// }

.city {
  color: $color-grey;
  font-size: 22px;
  font-weight: 400;
}

.bottom__block_wrapper {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.city_add {
  position: absolute;
  top: 90px;
  right: 120px;
  width: 194px;
  padding: 8px;
  border-radius: 10px;
  animation: animation-name;
  animation-duration: 1s;
  // background-color: rgba(71, 147, 255, 0.8);
  background-color: #fff;
  box-shadow: $box-shadow;
  display: flex;
  align-items: center;
  gap: 10px;
  // transition: opacity 0.2s, visibility 0.2s, transform 0.3s ease;

  // transform: translateY(-20%);
}

@keyframes animation-name {
  0% {
    opacity: 0.1;
    transform: translateX(40%);
  }
  50% {
    opacity: 0.6;
    transform: translateY(0);
  }
  100% {
    opacity: 1;
  }
}

.custom_checkbox {
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.checkbox {
  position: absolute;
  width: 26px;
  height: 26px;
  opacity: 0;
  cursor: pointer;
}

.checkbox_icon {
  font-size: 26px;
  color: rgba(71, 147, 255, 0.5);
}

.checkbox:checked + .checkbox_icon {
  color: $color-main;
}
